body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f4f4f4;
}
.navbar {
    background-color: #333;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.navbar .site-name {
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.nav-links {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}
.nav-links a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    text-align: center;
}
.nav-links a:hover {
    background-color: #575757;
}
.container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 50%;
    text-align: center;
    margin-top: 20px;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
label {
    margin: 10px 0;
}
input, select {
    padding: 8px;
    width: 100%;
    max-width: 300px;
    margin-top: 5px;
}
button {
    background-color: #333;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
}
button:hover {
    background-color: #575757;
}