body {
    font-family: Arial, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#navbar {
    width: 100%;
    text-align: center;
}

h1 {
    margin-top: 20px;
    color: var(--text-color);;
}

.form-container {
    background: var(--bg-color);
    color: var(--text-color);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-weight: bold;
    color: var(--text-color);
}

input, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: var(--bg-color);
    color: var(--text-color);
}

.form-container button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 15px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 10px;
}

.form-container button:hover {
    background-color: #575757;
}

.container {
    margin-top: 20px;
    width: 100%;
    max-width: 50%;
    background: var(--bg-color);
    color: var(--text-color);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

thead th {
    background-color: var(--navbar-bg);
    color: var(--text-color);
    padding: 10px;
    text-align: left;
}

tbody td {
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 10px;
    border-top: 1px solid #ccc;
}